body {
  background-color: #f3f3f3;
}

.login-from {
  padding-top: 0.266667rem;
}

.login-from label {
  float: left;
  font-size: 0.373333rem;
  color: #444;
  width: 2.24rem;
  padding-left: 0.373333rem;
}

.login-from .getpassword-set,
.login-from .getpassword {
  border-top: 0.026667rem solid #e9e9e9;
  border-bottom: 0.026667rem solid #e9e9e9;
  background-color: #fff;
  height: 1.28rem;
  line-height: 1.28rem;
}

.login-from .getpassword-set input,
.login-from .getpassword input {
  font-size: 0.373333rem;
  border: none;
  height: 1.28rem;
  width: 4rem;
  float: left;
  margin-left: 0.666667rem;
  margin-right: 0.266667rem;
}

.login-from .getpassword-set span,
.login-from .getpassword span {
  float: left;
  font-size: 0.266667rem;
  color: #ff4c01;
  background: url("../../common-assets/img/hint.png") no-repeat left center;
  background-size: 0.4rem;
  padding-left: 0.413333rem;
  height: 1.28rem;
  line-height: 1.306667rem;
  display: none;
}

.login-from .getpassword {
  border-top: none;
}

.login-from .getpassword .login-hide {
  width: 0.933333rem;
  height: 1.28rem;
  float: left;
  display: block;
  background: url("../images/login-hide.png") no-repeat center;
  background-size: 0.426667rem;
}

.login-from .login-forget {
  height: 1.533333rem;
  text-align: right;
  padding-right: 0.4rem;
}

.login-from .login-forget a {
  color: #aaa;
  font-size: 0.373333rem;
  line-height: 1.533333rem;
}

.login-from .getpassword-btn {
  padding: 0 0.4rem;
}

.login-from .getpassword-btn {
  margin-top: 0.92rem;
}

.login-from .getpassword-btn button {
  background-color: #ff4c01;
  text-align: center;
  border: none;
  color: #fff;
  display: block;
  width: 100%;
  height: 1.173333rem;
  line-height: 1.173333rem;
  font-size: 0.426667rem;
}


.getcode {background-color: #ff4c01;
width: 2.533333rem;
height: 0.766667rem;
line-height: 0.766667rem;
color: #fff;
border-radius: 0.133333rem;
font-size: 0.32rem;
display: inline-block;
text-align: center;
float: right;
margin-top: 0.32rem;
text-decoration: none;
    margin-right: .5rem;
}


.loginCode a {
    width: 2.2rem;
    height: 0.833333rem;
    float: right;
    margin-right: 10px;

    margin-top: .23333rem;
}
.loginCode img {
    width: 2.2rem;
    height: 0.833333rem;

}