@charset "UTF-8";

/*上拉加载 更多，下拉刷新*/

#wrapper {
  /*高度默认值,该值应该被js脚本动态的计算并赋值*/
  height: 25rem;
}

#pullDown,
#pullUp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 1.066667rem;
  line-height: 1.066667rem;
  padding: 0.066667rem 0.133333rem;
  color: #888;
}

[data-dpr="1"] #pullDown,
[data-dpr="1"] #pullUp {
  font-size: 12px;
}

[data-dpr="2"] #pullDown,
[data-dpr="2"] #pullUp {
  font-size: 24px;
}

[data-dpr="3"] #pullDown,
[data-dpr="3"] #pullUp {
  font-size: 36px;
}

#pullDown .pullDownIcon,
#pullUp .pullUpIcon {
  margin-top: 0.266667rem;
  width: 0.533333rem;
  height: 0.533333rem;
  background: url("pull.png") 0 0 no-repeat;
  background-size: 0.533333rem 1.066667rem;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 250ms;
}

#pullDown .pullDownIcon {
  -webkit-transform: rotate(0deg) translateZ(0);
}

#pullUp .pullUpIcon {
  -webkit-transform: rotate(-180deg) translateZ(0);
}

#pullDown.flip .pullDownIcon {
  -webkit-transform: rotate(-180deg) translateZ(0);
}

#pullUp.flip .pullUpIcon {
  -webkit-transform: rotate(0deg) translateZ(0);
}

#pullDown.loading .pullDownIcon,
#pullUp.loading .pullUpIcon {
  background-position: 0 100%;
  -webkit-transform: rotate(0deg) translateZ(0);
  -webkit-transition-duration: 0ms;
  -webkit-animation-name: loading;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg) translateZ(0);
  }
  to {
    -webkit-transform: rotate(360deg) translateZ(0);
  }
}